
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f4f8;
}

.chat-nav {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 16px;
}

.end-chat-btn {
    padding: 8px 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.end-chat-btn:hover {
    background-color: #c0392b;
}

.chat-container {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 60%;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.message.other {
    background-color: #333;
    color: #fff;
    align-self: flex-start;
    border-top-left-radius: 0;
}

.message.client {
    background-color: #3498db;
    color: #fff;
    align-self: flex-end;
    border-top-right-radius: 0;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    margin-right: 10px;
}

.send-btn {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.send-btn:hover {
    background-color: #2980b9;
}

.emoji-btn {
    padding: 10px;
    background-color: #242321;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.emoji-btn:hover {
    background-color: #3e4044;
}

.block-btn {
    padding: 10px;
    background-color: #c9c9c9;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.block-btn:hover {
    background-color: #797575;
}

@media (max-width: 600px) {
    .profile-pic {
        width: 30px;
        height: 30px;
    }

    .username {
        font-size: 14px;
    }

    .end-chat-btn {
        padding: 6px 10px;
        font-size: 14px;
    }

    .message {
        max-width: 80%;
        font-size: 13px;
    }

    .message-input {
        font-size: 14px;
    }

    .send-btn {
        padding: 8px 12px;
        font-size: 14px;
    }
}
